.header__lang-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    list-style: none;
    text-decoration: none;
    margin: 20px 0px;
    padding: 0;
    opacity: 1;
}

@media screen and (max-width: 1279px) {
	.header__lang-link {
		width: 723px;
		margin: 20px 0 5px;
	}
}

@media screen and (max-width: 1023px) {
	.header__lang-link {
		width: 515px;
		margin: 20px 0;
	}
}

@media screen and (max-width: 767px) {
	.header__lang-link {
		width: calc(288px - 142px);
		margin: 18px 0;
	}
}
