.page__header {
	padding: 0;
	margin: 20px auto 40px;
}

@media screen and (max-width: 1279px) {
	.page__header {
		margin: 28px auto 48px;
	}
}

@media screen and (max-width: 1023px) {
	.page__header {
		margin: 20px auto 35px;
	}
}

@media screen and (max-width: 767px) {
	.page__header {
		margin: 16px auto 39px;
	}
}