/* 3. Блок intro*/

.page__intro {
	margin: 94px auto 90px;
	padding: 0;
}

@media screen and (max-width: 1023px) {
	.page__intro {
		margin: 0 auto 88px;
	}
}

@media screen and (max-width: 767px) {
	.page__intro {
		margin: 0 auto 64px;
	}
}