.cover__overlay {
    background: center center no-repeat url(../../../images/cover-trains.jpg);
    background-size: cover;
    width: 100%;
    min-height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-flow: column;
}

.cover__overlay::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #2a2c2f;
    opacity: 0.3;
    z-index: 0;
    transition: all .5s;
}

.cover__overlay:hover:before {
    opacity: 0.83;
}

@media screen and (max-width: 1279px) {
    .cover__overlay {
        max-width: 1024px;
        min-height: 645px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__overlay {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__overlay {
        max-width: 320px;
        min-height: 200px;
    }
}