.place {
    display: grid;
    max-width: 1184px;
    margin: 0;
    padding: 0 0 80px;
    grid-template-columns: 460px 484px;
    row-gap: 48px;
    column-gap: 40px;
    grid-template-areas: "place__title place__url-box" "place__image place__paragraph-two";
}

@media screen and (max-width: 1279px) {
    .place {
        width: 928px;
        grid-template-columns: 440px 456px;
        gap: 48px 32px;
        padding: 0 0 77px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        width: 720px;
        padding: 0 0 55px;
        grid-template-columns: 340px 352px;
        row-gap: 48px;
        column-gap: 28px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-areas: "place__title" "place__url-heading-link" "place__image" "place__paragraph-two";
        width: 320px;
        padding: 0 0 35px;
        grid-template-rows: 0;
        grid-template-columns: 0 0;
        gap: 32px;
        grid-auto-flow: column;
    }
}