/* 8. Блок footer*/

.footer {
    display: flex;
    flex-direction: row;
    max-width: 1184px;
    justify-content: space-between;
    color: white;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    .footer {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        align-items: start;
        max-width: 288px;
    }
}