.place__url-box {
    display: flex;
    align-items: start;
    font-size: 12px;
    line-height: 12px;
    justify-content: flex-end;
    flex-direction: column;
}

@media screen and (max-width: 1023px) {
    .place__url-box {
        max-width: 352px;
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .place__url-box {
        max-width: 288px;
        margin-left: 15px;
    }
}
